* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background: rgb(61, 114, 176) url("../img/pattern.png");
    height: 200px;
    position: relative;
}

main {
    margin: 20px 10px;
}

.header-logo {
    height: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.article-title {
    font-size: 40px;
    font-weight: bold;
}

.article-author {
    font-size: 25px;
}

.article-date {
    font-size: 15px;
}

.grey-font {
    color: grey;
}

.blue-font {
    color: rgb(40, 172, 230);
}

.images {
    margin: 10px 0;
}

.caption {
    font-size: 15px;
}

.info-paragraph {
    margin: 10px 0;;
}

.bg-yellow {
    background-color: yellow;
}

.info ul {
    margin: 10px 0;
    padding-left: 15px;
}

.info-table {
    border-spacing: 0;
}

.info-table th {
    width: 500px;
    text-align: start;
    text-align: start;
    background-color: rgb(32, 169, 229);
    color: white;
}

.bg-blue {
    background-color: rgb(177, 229, 242);
}

.suggest-title {
    font-size: 20px;
    font-weight: 600;
}

.suggest-box {
    width: 300px;
    height: 250px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
    background-size: cover;
    background-position: center;
}

.suggest1 {
    background-image: url("../img/monitor.jpg");
}

.suggest2 {
    background-image: url("../img/graph.jpg");
}
